@model List<InternetShop.Models.Product>

@{
    ViewData["Title"] = "Товары по категории";
}

<h1 class="text-center my-4">Товары по категории</h1>

<div class="container" style="margin-bottom: 500px">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card product-card h-100 shadow-sm">
                    <div class="card-img-container">
                        <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                    </div>
                    <div class="card-body d-flex flex-column align-items-center text-center">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text price">₽@product.Price.ToString("F2")</p>
                        <div class="d-flex justify-content-center my-3">
                            <a href="@Url.Action("Details", new { id = product.Id })" class="btn btn-primary add-to-cart-btn me-2">Подробнее</a>
                            <form asp-action="AddToCart" asp-controller="Cart" method="post">
                                <input type="hidden" name="productId" value="@product.Id" />
                                <button class="btn btn-primary add-to-cart-btn ms-2" type="submit">В корзину</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
